<h1 mat-dialog-title>How to use Seating Allocation Engine</h1>
<h3>
  <b>Scenario(1):</b>
  <h4>
    By Default, we have set a initial 2x2 block with 50% allocation.<br />
  </h4>
</h3>
<h3>
  <b>Scenario(2):</b>
  <h5>On Changing theatre & govt allocation occupancy</h5>
  <h4>
    -- On updating Total seats in theatre. Total seats avaible is dynamically
    calculated <br />
    -- On updating no.of blocks. New set of rows & cols input field will be
    enabled for user with default value.<br />
    -- When block level rows & cols are enabled, user has ability t update it or
    retain default mXn matrix's<br />
  </h4>
</h3>
<h3>
  <b>Scenario(3):</b>
  <h5>On changing block level rows & cols</h5>
  <h4>
    -- When block level rows & cols are enabled, user has ability t update it or
    retain default mXn matrix's<br />
  </h4>
</h3>
In any case, Click on <u><b>Show - Seating Arrangement</b></u> button to see
seating arrangement.
