<div class="toolbar" role="banner">
  <a
    matTooltip="Theatre Seating Arrangement - Dash Board"
    routerLinkActive="active"
    routerLink="/home"
    ><img
      width="42"
      alt="Theatre Seat Booking"
      src="/assets/images/icons8-movie-64.png"
  /></a>
  <!-- <span>Home</span> -->
  <div class="spacer"></div>
  <a
    matTooltip="Book Tickets"
    routerLinkActive="active"
    routerLink="/ticketsbooking"
    ><img style="width: 46px" src="/assets/images/icons8-movie-ticket-64.png"
  /></a>
  <a
    matTooltip="Manage Seating Arrangement"
    routerLinkActive="active"
    routerLink="/seatmanagement"
    ><img style="width: 46px" src="/assets/images/seat.png"
  /></a>
  <a
    aria-label="Girish Kumar Muniraju - LinkedIn"
    target="_blank"
    rel="noopener"
    href="https://www.linkedin.com/in/girishkumar-muniraju/"
    matTooltip="Girish Kumar Muniraju - LinkedIn"
  >
    <img style="width: 46px" src="/assets/images/linkedin.png" />
  </a>
  <a
    aria-label="Girish Kumar Muniraju - Resume"
    target="_blank"
    rel="noopener"
    href="https://drive.google.com/file/d/1E8o0-wYQ-K28iXl-zKYA-bRMHIuACwtn/view?usp=sharing"
    matTooltip="Girish Kumar Muniraju - Resume"
  >
    <img style="width: 38px" src="/assets/images/icons8-resume-49.png" />
  </a>
</div>
<router-outlet></router-outlet>
