<div class="content">
  <h2 id="bookTickets">Booking Tickets - Coming Soon !!!</h2>
  <p>
    <b>You can Manage Seating for now:</b>
  </p>
  <button
    class="card card-small card-no-bg"
    matTooltip="Manage Seating Arrangement"
  >
    <a routerLinkActive="active" routerLink="/seatmanagement">
      <img style="width: 56px" src="/assets/images/seat.png"
    /></a>
  </button>
  <div class="card-container"></div>
</div>
<div class="floating-icon">
  <button
    mat-icon-button
    color="primary"
    routerLink="/home"
    matTooltip="Return to Dash Board"
  >
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
</div>
